body {
    background-color: #f9f9f9;
    font-family: "Work Sans", sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
    font-family: "Fjalla One", sans-serif;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input, 
select, 
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 2.5px;
    box-sizing: border-box;
}

textarea {
    min-height: 100px;
}

input [type="radio"],
input [type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 40px;
    padding: 0 5px;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    font-weight: 500;
    margin-bottom: 5px;
}